.characterUl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.char {

    aspect-ratio: 3 / 4;
    overflow: hidden;
}

.charImg {
        width: 100%;
        height: 90%;
        object-fit: cover;
}

.charName {
    text-align: center;
}

.nav {
  width: 8rem;
  display:flex;
  justify-content: space-between;
}